img {
    width: 100px;
}

a {
    width: 100px;
    display: block;
    float: left;
    overflow: hidden;
    height: 65px;
    z-index: 1;
    position: relative;
    margin: 0 20px 0 0;
    border: solid 1px #ccc;
}

a:hover {
    overflow: visible;
    z-index: 1000;
}

a:hover img {
    width: 250px;
    position: absolute;
    margin-left: -75px;
    margin-top: -50px;
}
