.final-tiles-gallery .tile a:hover .caption {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity:1;
}
.final-tiles-gallery .tile a img {
	-moz-transition: -moz-transform .3s;
	-o-transition: -o-transform .3s;
	-webkit-transition: -webkit-transform .3s;
	transition: transform .3s;
}

.final-tiles-gallery .caption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background:url(../images/opaque.png);
	background: rgba(0, 0, 0, .5);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-webkit-transition: all .3s;
	transition: all .3s;
	height: 100%;
    text-align:center;
}
.final-tiles-gallery .tile-inner:hover img {
	-moz-transform: rotate(3deg) scale(1.1);
	-ms-transform: rotate(3deg) scale(1.1);
	-o-transform: rotate(3deg) scale(1.1);
	-webkit-transform: rotate(3deg) scale(1.1);
	transform: rotate(3deg) scale(1.1);
}
.final-tiles-gallery .tile .caption p {
	margin: 10px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	-webkit-text-shadow: #000 1px 1px 1px;
	text-shadow: #000 1px 1px 1px;
	display: inline-block;
	padding: 3px 10px;
}
.tile .ftg-social {
	position: absolute;
	bottom: 23px;
	right: 23px;
	background:url(../images/opaque.png);
	background: rgba(0,0,0, .7);
	padding: 3px;
	border-radius: 4px;
	text-align: right;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
    height: 24px;    
}
.tile .ftg-social a {
    float: left;
    width:24px;
    height:24px;
    margin-left:5px;            
    font-size:0;
    color:transparent;
    line-height: 24px;
    margin: 0;
}
.tile:hover .ftg-social { 
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1; 
}
.tile .ftg-social a:first-child { margin-left: 0; }
/* icons from http://www.iconarchive.com/show/round-social-icons-by-brainleaf.html*/
.tile .ftg-social .tw-icon { background: url(../images/twitter-icon.png); }
.tile .ftg-social .fb-icon { background: url(../images/facebook-icon.png); }
.tile .ftg-social .gp-icon { background: url(../images/google-plus-icon.png); }
.tile .ftg-social .pi-icon { background: url(../images/pinterest-icon.png); }
/* --------------------- */

.mfp-figure button:hover,
.mfp-figure button:active {
	background: none;
	box-shadow: none;
}